$term0: #1E1E2E;
$term1: #F38BA8;
$term2: #A6E3A1;
$term3: #F9E2AF;
$term4: #89B4FA;
$term5: #CBA6F7;
$term6: #94E2D5;
$term7: #CDD6F4;
$term8: #313244;
$term9: #F38BA8;
$term10: #A6E3A1;
$term11: #F9E2AF;
$term12: #89B4FA;
$term13: #CBA6F7;
$term14: #94E2D5;
$term15: #FFFFFF;
